<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Pizze')"></head>
<body>
    <h1 class="text-center pt-4 pb-5">Pizze nel Database</h1>

    <div class="container pt-5">
        <div th:if="${pizzas} != null">
            <div class="row">
                <div th:each="pizza: ${pizzas}" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                    <div th:replace="fragments/card :: card(${pizza.getName()}, ${pizza.getUrl()})"></div>
                </div>
            </div>
        </div>

        <h2 th:unless="${pizzas} != null" class="text-center text-decoration-underline pt-5">Non ci sono pizze</h2>
    </div>

</body>
</html>